/* h1 {
    color: blue;
    font-size: 80px;
    text-align: center;
}
h1:hover {
    text-transform: uppercase;
}
label {
    font-size: 44px;
}
input {
    width: 400px;
    height: 35px;
    border-radius: 10px;
}
button {
    height: 41px;
    width: 15%;
    color: white;
    background-color: black;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
}
button:hover {
    background-color: gray;
    font-weight: bold;
} */